*, *::after, *::before{
    margin:0;
    padding: 0;
    box-sizing: inherit;

}
html{
    // defines 1rem
    font-size: 100%;
}
body{
 
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background: #ccc; /* Old browsers */
   opacity: 1;
    height: 100%;
   
}

.app-loader{
 padding-top:260px;
}
.card-header{
    background-color:#007bff;
    color:#fff;
}